<div>
    <a href="{{ path('index') }}">Accueil</a>
    <a href="{{ path('espece_index') }}">Les espèces</a> 
    <a href="{{ path('animal_index') }}">Les animaux</a> 
    <a href="{{ path('adresse_index') }}">Les adresses</a> 
    <a href="{{ path('personne_index') }}">Les personnes</a> 
</div>