{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Espèce
{% endblock %}

{% block contenu %}
    <h3>Espèce :</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ espece.nom }}</td>
            </tr>
            <tr>
                <th>Parite homme femme</th>
                <td>{{parite.hommes}} hommes possèdent cette espece d'animal contre {{parite.femmes}} femmes</td>
            </tr>
        </tbody>
    </table>

    <div>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('espece/_delete_form.html.twig') }}
        {% endif %}
        
        {% if is_granted('ROLE_SECRETAIRE') %}
            <a href="{{ path('espece_edit', {'id': espece.id}) }}">Modifier</a>
        {% endif %}
    </div>

    <br/>

    <a href="{{ path('espece_index') }}">Retourner à la liste des espèces</a>

{% endblock %}