{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Liste des animaux ({{nbAnimals}})
{% endblock %}

{% block contenu %}
    <h3>Voici la liste des {{nbAnimals}} animaux trouvées en base de données :</h3>

    <div class="alert">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Espèce</th>
                <th>Maitre(sse)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td>{{ animal.nom }}</td>
                    <td>{{ animal.age }}</td>

                    <td>
                        {% if animal.GetEspece != null %}
                            {{ animal.espece}}
                        {% else %}
                            Non renseignée
                        {% endif %}
                    </td>

                    <td>
                        {% for maitre in animal.getPersonnes() %}
                            {{maitre.getNom()}}  
                        {% else %}
                            Aucun(e) maitre(sse)
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('animal_show', {'id': animal.id}) }}">voir</a>
                        
                        {% if is_granted('ROLE_SECRETAIRE') %}
                            <a href="{{ path('animal_edit', {'id': animal.id}) }}">modifier</a>
                        {% endif %} 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun animal trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br/>

    {% if is_granted('ROLE_SECRETAIRE') %}
        <a href="{{ path('animal_new') }}">Créer un nouvel animal</a>
    {% endif %}

{% endblock %}
