{% extends "base.html.twig" %}

{% block titre %}
    {{ parent() }} : Adresse
{% endblock %}

{% block contenu %}
    <h3>Adresse :</h3>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ adresse.intitule }}</td>
            </tr>
            
            <tr>
                <th>Habitants</th>
                    {% for personne in adresse.getPersonnes %}
                    <td>{{ personne.id }} - {{ personne.__toString }}</td>
                {% else %}
                    <td colspan="3">Aucun habitant</td>
                {% endfor %}
            </tr>

            <tr>
                <th>Moyenne d'age des animaux</th>
                {% if moyenneAge != null %}
                    <td>{{moyenneAge}} ans</td>
                {% else %} 
                    <td>Aucun animal</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('adresse/_delete_form.html.twig') }}
        {% endif %}
        
        {% if is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">Modifier cette adresse</a>
        {% endif %}
    </div>

    <br/>

    <a href="{{ path('adresse_index') }}">Retourner à la liste des adresses</a>
{% endblock %}